.page {
  width: 1000px;
  margin: 0 auto;

  .title {
    margin: 64px 0 24px 0;
    text-align: center;
    font-size: 4rem;

    position: relative;
    & > div {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      font-size: 1rem;
    }
  }
  .title:first-child {
    margin-top: 128px;
  }

  padding-bottom: 100px;
}
